MONGODB_URI='mongodb://<user>:<password>@ac-fgud05a-shard-00-00.posdf04.mongodb.net:27017,ac-fgud05a-shard-00-01.posdf04.mongodb.net:27017,ac-fgud05a-shard-00-02.posdf04.mongodb.net:27017/?ssl=true&replicaSet=atlas-h6drk3-shard-0&authSource=admin&retryWrites=true&w=majority'
DB_NAME='<database>'
